h1:hover{
    color: brown;
    background-color: antiquewhite;
    font-size: 60px;
    text-shadow: 5px 6px 2px blue;
}
.heading_1:hover{
    color: coral;
}
h3:active{
    color: crimson;
    font-size: 60px;
    font-family: cursive;
    cursor: pointer;
}
input:focus{
    background-color: aqua;
    color: brown;
    border: 6px  solid palevioletred;
}
a:visited{
    color: indianred;
}
p::first-letter{
    color: blue;
    font-size: 40px;
}
p::first-line{
    color: red;
}
::selection{
    color: pink;
    background-color: blueviolet;
}
